swagger: '2.0'
info:
  description: User API sample
  version: 1.0.6
  title: User API
host: testapi.apigateway.app-internships.cloud.goog
basePath: /v1
schemes:
  - https
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: query
security:
  - api_key: []
x-google-backend:
  address: https://europe-west6-app-internships.cloudfunctions.net/testFunction
x-google-management:
  metrics:
    - name: "get-requests"
      displayName: "get requests"
      valueType: INT64
      metricKind: DELTA
    - name: "post-requests"
      displayName: "post requests"
      valueType: INT64
      metricKind: DELTA
    - name: "put-requests"
      displayName: "put requests"
      valueType: INT64
      metricKind: DELTA
    - name: "delete-requests"
      displayName: "delete requests"
      valueType: INT64
      metricKind: DELTA
  quota:
    limits:
      - name: "get-limit"
        metric: "get-requests"
        unit: "1/min/{project}"
        values:
          STANDARD: 10
      - name: "post-limit"
        metric: "post-requests"
        unit: "1/min/{project}"
        values:
          STANDARD: 5
      - name: "put-limit"
        metric: "put-requests"
        unit: "1/min/{project}"
        values:
          STANDARD: 3
      - name: "delete-limit"
        metric: "delete-requests"
        unit: "1/min/{project}"
        values:
          STANDARD: 1
paths:
  /user:
    get:
      tags:
        - user
      summary: Get users
      description: Get all users
      operationId: getAll
      produces:
        - application/json
      security: []
      x-google-quota:
        metricCosts:
          "get-requests": 1
      parameters: []    # indicates that the GET /user operation does not require any parameters.
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/User"
    post:
      tags:
        - user
      summary: Create user
      description: This can only be done by the logged in user.
      operationId: createUser
      consumes:
        - application/json
      produces:
        - application/json
      x-google-quota:
        metricCosts:
          "post-requests": 1
      parameters:
        - in: body
          name: body
          description: Created user object
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        default:
          description: successful operation
definitions:
  User:
    type: object
    properties: 
      status:
        type: string
        description: Status of the responses